"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    softTabs: false
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      ".DS_Store"
      ".idea"
      ".sass-cache"
    ]
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  autosave:
    enabled: true
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  "fuzzy-finder":
    preserveLastSearch: true
  "tree-view":
    hideIgnoredNames: true
".ruby.source":
  editor:
    softWrap: true
    tabLength: 2
